[submodule "nrf51-pure-gcc-setup"]
	path = nrf51-pure-gcc-setup
	url = https://github.com/hlnd/nrf51-pure-gcc-setup.git
[submodule "nrf51822"]
	path = nrf51822
	url = https://janekm@github.com/janekm/ble_app_hrs_c_S120_gcc.git
